.pageContainer {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 100px 300px 300px;

    @media (min-width: 760px) {
        grid-template-columns: 120px 1fr;
        grid-template-rows: 1fr;
    }
}

.leftNav {
    z-index: 1000;
}

// .pageContent {
//     height: 100%;
//     width: 100%;
// }
