.pageContainer {
    display: grid;
    height: 100%;
    // width: 100vw;
    grid-template-rows: 80px 1fr;

    @media (min-width: 767px) {
        grid-template-columns: 120px 1fr;
        grid-template-rows: 1fr;
    }
}

.leftNav {
    z-index: 1000;
}

// .pageContent {
//     height: 100%;
//     width: 100%;
// }
